body {
    background: #ccc;
    margin: 0 20px;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    line-height: 2;
}
#main {
    background: rgb(187, 182, 182);
    margin: 0 50px;
    border-radius: 3px;
}

.page-header {
    text-align: center;
    color: rgb(39, 48, 45);
    padding: 20px;
    line-height: 1;
}
.page-header h1 {
    font-size: 4em;
}
.page-header p {
    font-size: 2em;
}

#content {
    background: white;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
#content img{
  text-align: center;
    width: 25%;
    margin: 0 auto;
}
#content li {
    margin: 10px;
    padding: 10;
}
#content p {
  padding: 10px;
}
.learn_more {
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
}
footer span {
    font-weight: bold;
}
